*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box{
    width: 60%;
    margin: auto;;
    line-height: 0;
    background-image: url(background.png);
    overflow: hidden;
    position: relative;
}
.img-wrap{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
span{
    width: 1px;
    height: 100%;
    cursor:ew-resize;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.arrow{
    width: 40px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
